﻿
@{
    ViewBag.Title = "Тест ЕПГМУ";
}

<h2>Проверка тестовых примеров</h2>
<div class="col-md-12">
    <ul class="nav nav-pills">
        <li class="active"><a href="#main" data-toggle="tab" aria-expanded="true">Базовые проверки</a></li>
        @*<li class=""><a href="#statusChange" data-toggle="tab" aria-expanded="false">Изменение статуса</a></li>*@
    </ul>
    <hr/>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="main">
            <div class="btn-toolbar" style="margin-bottom: 10px;">
                <a href="#" class="btn btn-default" id="btnSendRequest">Отправить текст</a>
                <a href="#" class="btn btn-default" id="btnSendSample">Отправить заготовленный текст</a>
                <a href="#" class="btn btn-default" id="btnStatusChange">Смена статуса</a>
                <a href="#" class="btn btn-default" id="btnCleanResponse">Очистить поле ответа</a>
            </div>
            <label for="requestText" id="requestLabel">XML для отправки:</label>
            <textarea class="xml-textarea" id="requestText" rows="10">
                <v25:pushEventRequest xmlns:rev="http://smev.gosuslugi.ru/rev120315" xmlns:v25="http://idecs.atc.ru/orderprocessing/ws/eventservice/v25/">
                    <rev:Message>
                        <rev:Sender>
                            <rev:Code>IPGU01001</rev:Code>
                            <rev:Name>Единый портал государственных услуг</rev:Name>
                        </rev:Sender>
                        <rev:Recipient>
                            <rev:Code>IPGU01001</rev:Code>
                            <rev:Name>Единый портал государственных услуг</rev:Name>
                        </rev:Recipient>
                        <rev:Originator>
                            <rev:Code>IPGU01001</rev:Code>
                            <rev:Name>Единый портал государственных услуг</rev:Name>
                        </rev:Originator>
                        <rev:ServiceName>IPGUEVENTSERVICE25</rev:ServiceName>
                        <rev:TypeCode>GSRV</rev:TypeCode>
                        <rev:Status>RESULT</rev:Status>
                        <rev:Date>2015-03-30T10:19:10.217+03:00</rev:Date>
                        <rev:ExchangeType>1</rev:ExchangeType>
                        <rev:OriginRequestIdRef>12345678-0000-0000-0000-000000000001</rev:OriginRequestIdRef>
                        <rev:ServiceCode>10001970310</rev:ServiceCode>
                        <rev:CaseNumber>86980805</rev:CaseNumber>
                        <rev:TestMsg />
                    </rev:Message>
                    <rev:MessageData>
                        <rev:AppData>
                            <orderId>86980805</orderId>
                            <eventDate>2015-03-30T10:19:10.217+03:00</eventDate>
                            <eventComment>Комментарий</eventComment>
                            <eventAuthor>Автор</eventAuthor>
                            <event>
                                <orderStatusEvent>
                                    <statusCode>
                                        <techCode>7</techCode>
                                    </statusCode>
                                    <cancelAllowed>true</cancelAllowed>
                                    <sendMessageAllowed>true</sendMessageAllowed>
                                </orderStatusEvent>
                            </event>
                        </rev:AppData>
                    </rev:MessageData>
                </v25:pushEventRequest>
            </textarea>
            <label for="responseText" id="requestLabel" style="margin-top: 20px;">XML ответа:</label>
            <textarea class="xml-textarea" id="responseText" readonly="readonly" rows="20"></textarea>
        </div>
        <div class="tab-pane fade" id="statusChange">
            <form>
                @Html.Partial("StatusChange")
            </form>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/request_test")
}